In [86]:
# import a suitable python library to load and access the coursework dataset
import pandas as pd

In [87]:
#a suitable function to load the coursework dataset file
data = pd.read_csv('/content/Traffic_Crashes_-_Vision_Zero_Chicago_Traffic_Fatalities.csv')

In [88]:
#a sample of crashes in the coursework dataset, a method to access (display) their recorded data values per variable
data.head(10)

,Person_ID,Crash_Date,Crash_Location,Victim,Crash_Circumstances,Longitude,Latitude,Location
0,O1538374,03/19/2023 11:30:00 AM,2400 S WENTWORTH AVE,PEDESTRIAN,NaN,-87.632078,41.849115,POINT (-87.63207812 41.84911545)
1,O699223,07/28/2019 02:13:00 AM,3529 N HALSTED ST,DRIVER,NaN,-87.649308,41.946327,POINT (-87.64930836 41.94632714)
2,O1867282,07/20/2024 04:00:00 AM,4000 W 26TH ST,DRIVER,UNIT 1 DISREGARDED TRAFFIC SIGNAL AND STRUCK U...,-87.724614,41.844365,POINT (-87.72461414 41.84436482)
3,O1506700,01/27/2023 05:46:00 PM,5049 W WASHINGTON BLVD,PEDESTRIAN,NaN,-87.752164,41.881618,POINT (-87.75216366 41.88161789)
4,O1149843,07/28/2021 07:14:00 PM,7899 S STONY ISLAND,DRIVER,NaN,-87.585465,41.751518,POINT (-87.58546514 41.75151786)
5,O853602,03/02/2020 02:07:00 AM,700 N LASALLE DR,DRIVER,NaN,-87.632820,41.894850,POINT (-87.63282 41.89485)
6,O1748281,01/26/2024 12:05:00 PM,128 W 87TH ST,DRIVER,UNIT 1 DRIVER UNDERGOING MEDICAL EMERGENCY AND...,-87.627877,41.736156,POINT (-87.62787708 41.73615595)
7,O775752,11/06/2019 06:58:00 AM,3800 N MILWAUKEE AVE,CYCLIST,NaN,-87.741950,41.949990,POINT (-87.74195 41.94999)
8,O1290371,02/28/2022 11:18:00 PM,11100 S COTTAGE GROVE,DRIVER,NaN,-87.610016,41.692742,POINT (-87.61001554 41.69274215)
9,O1131709,07/03/2021 01:30:00 AM,4200 S LAKE SHORE DRIVE,DRIVER,NaN,-87.596621,41.818497,POINT (-87.59662067 41.81849736)

In [89]:
#a method to display the variables names only from the coursework dataset
list(data.columns)

['Person_ID',
 'Crash_Date',
 'Crash_Location',
 'Victim',
 'Crash_Circumstances',
 'Longitude',
 'Latitude',
 'Location']

In [90]:
#a method to explore the data types for all the variables in the coursework dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Person_ID            846 non-null    object
 1   Crash_Date           871 non-null    object
 2   Crash_Location       871 non-null    object
 3   Victim               871 non-null    object
 4   Crash_Circumstances  116 non-null    object
 5   Longitude            871 non-null    float64
 6   Latitude             871 non-null    float64
 7   Location             871 non-null    object
dtypes: float64(2), object(6)
memory usage: 54.6+ KB

In [91]:
#a method to only calculate (count) and display the dimensions of the coursework dataset (number of instances and features)
data.shape

(871, 8)

In [92]:
#investigate the missing observations in the coursework dataset, use a method that shows the count of crashes that have missing values per variable
data.isnull().sum()

Person_ID               25
Crash_Date               0
Crash_Location           0
Victim                   0
Crash_Circumstances    755
Longitude                0
Latitude                 0
Location                 0
dtype: int64

In [93]:
#a method to remove the unnecessary variables to exclude from the analysis
data = data.drop(columns=(['Crash_Circumstances', 'Location']))

In [94]:
#to mitigate missing data, I decided to perform a complete case analysis, using a python method to perform case-wise deletion
data = data.dropna()

In [95]:
#a method to display the variables names only from the coursework dataset after removing the unnecessary columns
list(data.columns)

['Person_ID',
 'Crash_Date',
 'Crash_Location',
 'Victim',
 'Longitude',
 'Latitude']

In [96]:
#investigating the missing observations in the coursework dataset after performing case-wise deletion
data.isnull().sum()

Person_ID         0
Crash_Date        0
Crash_Location    0
Victim            0
Longitude         0
Latitude          0
dtype: int64

In [97]:
#to save the prepared (cleaned) dataset, using method to save the new data in a csv format file
data.to_csv('final cleaned traffic crashes in chicago.csv', index=False)

In [98]:
#a suitable function to load the coursework dataset file
dataset = pd.read_csv('/content/final cleaned traffic crashes in chicago.csv')

In [99]:
#a method to only calculate (count) and display the dimensions of the coursework dataset (number of instances and features) after cleaning the original dataset
dataset.shape

(846, 6)